.img__service {
    display: flex;
    
}

.service h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 70px 0;

    color: #015a75;
}

.img__service img {
    justify-content: center;
    margin: 20px;
    
}

@media(max-width: 900px){
    .img__service  {
        display: table-footer-group;
        padding: 10px;
        
    }
    

}