@import 'logo.css';
@import 'menu.css';
@import 'depoiment.css';
@import 'services.css';
@import 'baseboard.css';


body {
    margin: 0;
    font-style: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}


